.movie-cards-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    align-self: center;
    
}

.movie-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 250px;
    width: 150px;
    margin: 5px;
    color: black;
}

.movie-card > img {
    height: 200px;
    width: 150px;
    border-radius: 5px;;
}
