.movie-cards-box {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    align-self: center;
    border: solid #98daf2;
    border-radius: 5px;
    min-width: 350px;
}

.movie-card {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 250px;
    width: 134px;
    margin: 5px;
    color: white;
    
}

.movie-card:hover {
    transform: scale(1.1) rotate(-2deg);
    filter: saturate(2.2);
    transition: .2s;
}

.movie-card > img {
    max-height: 201px;
    max-width: 134px;
    border-radius: 5px;
}

.sorry {
    color: white;
}
