html {
    overflow-x: hidden;
    background: url('/src/assets/1078873.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    height: 100%;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'orthodox_herbertarianregular';
    src: url('assets/orthodoxherbertarian.woff2') format('woff2'),
         url('assets/orthodoxherbertarian.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}